{% extends "admin/base_site.html" %}
{% load i18n %}

{% block bodyclass %}login{% endblock %}
{% block nav-breadcrumbs %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
<div class="login-box">
    <div class="login-logo">
        <a href="{{ site_url|default:'/' }}">
            {% if admin_site_config.logo_dark %}<img src="{{ admin_site_config.logo_dark.url }}" alt="{{ admin_site_config.site_name }}" class="adminlte-login-logo">{% elif admin_site_config.logo_light %}<img src="{{ admin_site_config.logo_light.url }}" alt="{{ admin_site_config.site_name }}" class="adminlte-login-logo">{% else %}<i class="fa fa-car text-success" aria-hidden="true"></i> <b>{{ admin_site_config.site_name|default:'پنل' }}</b> مدیریت{% endif %}
        </a>
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">برای ورود به پنل مدیریت، اطلاعات حساب داخلی خود را وارد کنید.</p>

            {% if form.errors and not form.non_field_errors %}<p class="login-error">نام کاربری یا گذرواژه صحیح نیست.</p>{% endif %}
            {% for error in form.non_field_errors %}<p class="login-error">{{ error }}</p>{% endfor %}
            {% if user.is_authenticated %}<p class="login-error">حساب {{ username }} اجازهٔ ورود به این صفحه را ندارد.</p>{% endif %}

            <form action="{{ app_path }}" method="post" id="login-form">
                {% csrf_token %}
                <div class="input-group mb-3">
                    {{ form.username }}
                    <div class="input-group-append"><div class="input-group-text"><span class="fa fa-user"></span></div></div>
                </div>
                {{ form.username.errors }}
                <div class="input-group mb-3">
                    {{ form.password }}
                    <div class="input-group-append"><div class="input-group-text"><span class="fa fa-lock"></span></div></div>
                </div>
                {{ form.password.errors }}
                <input type="hidden" name="next" value="{{ next }}">
                <div class="row"><div class="col-12"><button type="submit" class="btn btn-success btn-block">ورود امن <i class="fa fa-sign-in mr-1" aria-hidden="true"></i></button></div></div>
            </form>

            {% url 'admin_password_reset' as password_reset_url %}
            {% if password_reset_url %}<p class="mb-0 mt-3"><a href="{{ password_reset_url }}">فراموشی نام کاربری یا گذرواژه</a></p>{% endif %}
        </div>
    </div>
</div>
{% endblock %}
